label {
    font-weight: 600;
    text-align: left;
    }
input, textarea{
        border: 1px solid darkgrey;
        border-radius: 4px;
        width: 100%;
        padding: 10px;
    }
div{
        margin-top: 2rem;
        }


form{ height: 24rem;
padding: 30px;
font-size: 1rem;
border-radius: 2rem;
}