body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
    }
    
    .formulario{
    background-color:beige;
    margin: auto;
    max-width: 30rem;
    height: 24rem;
    padding: 30px;
    font-size: 1rem;
    border-radius: 2rem;
    }
    
    div{
    margin-top: 2rem;
    }
    
    input, textarea{
    border: 1px solid darkgrey;
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    }
    
    label {
    font-weight: 600;
    text-align: left;
    }
    
    button{
    width: 100%;
    padding-bottom: 10px;
    background-color:rgb(122, 106, 85);
    color: black;
    border-radius: 4px;
    }
    
    button:hover{
    background-color:rgb(231, 200, 160) ;
    }
    
    h2{
    text-align: center;
    }
    
    header {
    background-color: rgb(190, 107, 12);
    padding: 10px;
    text-align: center;
    font-weight: bold;
    }
        
    .menu{
    list-style: none;
    margin: 0;
    padding: 0;
    }
        
    .menu li{
    display: inline;
    }
        
    .menu li a{
    color: white;
    text-decoration: none;
    margin-right: 1rem;
    }
    
    footer {
    background-color: rgb(190, 107, 12);
    text-align: center;
    padding: 20px;
    font-weight: bold;
    }
            
    footer p{
    margin: 0;
    }
            
    .redes {
    list-style: none;
    }
            
    .redes li{
    display: inline;
    }
            
    .redes li a{
    color: white;
    text-decoration: none;
    margin-right: 1rem;
    }