
table {
  color: red;
  text-align: center;
} 
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 4px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  